{% extends 'base.html' %}

{% block title %}Gizlilik Politikası{% endblock %}

{% block content %}
<div class="min-h-screen py-12 px-4 sm:px-6 lg:px-8">
  <div class="max-w-3xl mx-auto  p-8 rounded-lg shadow-md">
    <h1 class="text-3xl font-bold mb-6">Gizlilik Politikası</h1>
    <p class="text-lg mb-4">
      Bu Gizlilik Politikası, Berkan Sözer tarafından geliştirilen kişisel bir proje için kişisel bilgilerinizi nasıl topladığımızı, kullandığımızı ve koruduğumuzu açıklar. Kişisel bilgilerinizin gizliliğini korumaya kararlıyız ve bu nedenle bilgilerinizle ilgili nasıl hareket ettiğimizi anlamanızı sağlamak için bu politikayı hazırladık.
    </p>
    <h2 class="text-2xl font-semibold mb-4">Topladığımız Bilgiler</h2>
    <p class="text-lg mb-4">
      Kullanıcılarımızdan, hizmetlerimizi kullanırken çeşitli kişisel bilgiler toplarız. Bu bilgiler şunları içerebilir:
    </p>
    <ul class="list-disc pl-5 mb-4">
      <li>İsim</li>
      <li>E-posta Adresi</li>
      <li>Şifre</li>
    </ul>
    <h2 class="text-2xl font-semibold mb-4">Bilgilerinizin Kullanımı</h2>
    <p class="text-lg mb-4">
      Topladığımız bilgileri aşağıdaki amaçlar için kullanabiliriz:
    </p>
    <ul class="list-disc pl-5 mb-4">
      <li>Hizmetlerimizi sağlamak ve yönetmek</li>
      <li>Müşteri desteği sunmak</li>
      <li>Yasal gerekliliklere uymak</li>
      <li>Geri bildirim toplamak ve hizmetlerimizi iyileştirmek</li>
    </ul>
    <h2 class="text-2xl font-semibold mb-4">Bilgilerinizin Korunması</h2>
    <p class="text-lg mb-4">
      Kişisel bilgilerinizi korumak için uygun güvenlik önlemleri alırız. Bilgilerinizi yetkisiz erişime karşı korumak için çeşitli teknolojiler ve prosedürler kullanırız.
    </p>
    <h2 class="text-2xl font-semibold mb-4">Üçüncü Taraflarla Paylaşım</h2>
    <p class="text-lg mb-4">
      Kişisel bilgilerinizi üçüncü taraflarla paylaşmayacağız, ancak yasal gereklilikler veya iş ortaklarımızla anlaşmalar gereği bu bilgileri paylaşmamız gerekebilir.
    </p>
    <h2 class="text-2xl font-semibold mb-4">Çerezler ve İzleme Teknolojileri</h2>
    <p class="text-lg mb-4">
      Çerezler ve benzeri izleme teknolojilerini, kullanıcı deneyimini iyileştirmek ve analiz yapmak amacıyla kullanabiliriz. Tarayıcı ayarlarınızdan çerezleri yönetebilirsiniz.
    </p>
    <h2 class="text-2xl font-semibold mb-4">Gizlilik Politikası Güncellemeleri</h2>
    <p class="text-lg mb-4">
      Bu Gizlilik Politikasını zaman zaman güncelleyebiliriz. Herhangi bir değişiklik yapıldığında, bu sayfayı güncelleyerek sizleri bilgilendireceğiz.
    </p>
    <h2 class="text-2xl font-semibold mb-4">İletişim Bilgileri</h2>
    <p class="text-lg mb-4">
      Gizlilik politikamız hakkında sorularınız varsa, bizimle iletişime geçebilirsiniz:
    </p>
    <ul class="list-disc pl-5 mb-4">
      <li>E-posta: <a href="mailto:berkansozer@outlook.com" class="text-lavender hover:underline">berkansozer@outlook.com</a></li>
    </ul>
  </div>
</div>
{% endblock %}
