{% extends 'base.html' %}

{% block title %}Kayıt Ol{% endblock %}

{% block content %}
<main class="container mx-auto p-6 max-w-md">
  <h1 class="text-3xl font-bold mb-6">Kayıt Ol</h1>

  <div id="message-container" class="mb-4"></div>

  <form id="signup-form" class="space-y-4" novalidate>
    <div class="form-group">
      <label for="name" class="block text-sm font-medium">İsim</label>
      <input type="text" id="name" name="name" class="mt-1 block w-full p-2 border border-zinc-600 rounded-md shadow-sm dark:bg-zinc-900/20 dark:text-zinc-50 backdrop-blur" required>
    </div>

    <div class="form-group">
      <label for="email" class="block text-sm font-medium">E-posta</label>
      <input type="email" id="email" name="email" class="mt-1 block w-full p-2 border border-zinc-600 rounded-md shadow-sm dark:bg-zinc-900/20 dark:text-zinc-50 backdrop-blur" required>
    </div>

    <div class="form-group">
      <label for="password" class="block text-sm font-medium">Şifre</label>
      <input type="password" id="password" name="password" class="mt-1 block w-full p-2 border border-zinc-600 rounded-md shadow-sm dark:bg-zinc-900/20 dark:text-zinc-50 backdrop-blur" required>
    </div>

    <button type="submit" class="w-full py-2 px-4 rounded-lg shadow-md bg-zinc-900 text-zinc-50 hover:bg-zinc-700 active:bg-zinc-600 dark:bg-zinc-50 dark:text-zinc-950 dark:hover:bg-zinc-300 dark:active:bg-zinc-400">
      Kayıt Ol
    </button>

    <p class="mt-4 text-sm text-center">
      <span>Hesabınız var mı?</span>
      <a href="{{ url_for('login') }}" class="text-blue-500 hover:text-blue-700 dark:text-blue-400 dark:hover:text-blue-300">Buradan giriş yapın</a>
    </p>
  </form>

  <script src="{{ url_for('static', filename='src/scripts/signup.js') }}" defer></script>
</main>
{% endblock %}
